<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품수정</title>
</head>
<body>
<div class="product-wrap">
  <h3>상품수정</h3>
  <!-- 폼태그의 메소드는 요청 메소드, 액션은 경로(디폴트는 현재 요청URL) -->
  <form method="POST" action="">
    <div>
      <div><label for="">상품ID</label><input type="text" readonly name="productId" th:value="${editForm.productId}"></div>
      <div><label for="">상품명</label><input type="text" name="pname" th:value="${editForm.pname}"></div>
      <div><label for="">수량</label><input type="text" name="count" th:value="${editForm.count}"></div>
      <div><label for="">가격</label><input type="text" name="price" th:value="${editForm.price}"></div>
      <!-- <div><label for="">상세설명</label></div>
      <textarea name="" id="" cols="30" rows="10"></textarea> -->
      <!-- 폼태그 내에서 버튼은 디폴트가 서밋, 바깥에서는 버튼 -->
      <div><button id="cancelBtn" type="button">취소</button></div>
      <div><button id="editBtn">저장</button></div>

    </div>
  </form>
</div>
<script>
  //취소시 상세화면으로 이동
  cancelBtn.addEventListener('click', e => {
    const productId = document.querySelector('input[name=productId]').value;
    const url = `/products/${productId}`;
    location.href = url;
  });
</script>
</body>
</html>